@import "tailwindcss";

@layer base {
  body {
    @apply bg-white text-black;
  }
  button{
    @apply cursor-pointer;
  }
}

@layer components {
  .link {
    @apply text-blue-500 hover:text-blue-700;
  }

  .nav-item {
    @apply font-medium text-[16px]/[125%] text-center text-[#101828] hover:text-[#0b44cd] transition-colors duration-300;
  }

  .button {
    @apply bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700 transition-colors duration-300 shadow-lg;
  }
}

@layer utilities {
  .container {
    @apply mx-auto px-4;
  }
}