@import "tailwindcss";

@layer base {
  body {
    @apply bg-white text-black w-[1440px];
  }
}

@layer components {
  .link {
    @apply text-blue-500 hover:text-blue-700;
  }

  .button {
    @apply font-medium text-[16px]/[125%] text-center text-[#101828] hover:text-[#0b44cd] transition-colors duration-300;
  }
}

@layer utilities {
  .container {
    @apply mx-auto px-4;
  }
}